body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:965px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:510px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:666px;
  top:82px;
  width:299px;
  height:510px;
}
#u673 {
  position:absolute;
  left:2px;
  top:247px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u674 {
  position:absolute;
  left:112px;
  top:20px;
  width:109px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:1px;
  top:51px;
  width:318px;
  height:508px;
  overflow:hidden;
}
#u676_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:508px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u676_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:1px;
  top:178px;
  width:311px;
  height:117px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:107px;
}
#u679 {
  position:absolute;
  left:7px;
  top:46px;
  width:300px;
  height:107px;
}
#u680 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u681 {
  position:absolute;
  left:23px;
  top:3px;
  width:177px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#868686;
}
#u683 {
  position:absolute;
  left:23px;
  top:28px;
  width:56px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#868686;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
}
#u685 {
  position:absolute;
  left:13px;
  top:334px;
  width:172px;
  height:14px;
  font-size:10px;
  color:#868686;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:0px;
  top:518px;
  width:319px;
  height:41px;
}
#u688 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u689 {
  position:absolute;
  left:167px;
  top:531px;
  width:29px;
  height:23px;
}
#u690 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u691 {
  position:absolute;
  left:282px;
  top:23px;
  width:28px;
  height:26px;
}
#u692 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u693 {
  position:absolute;
  left:270px;
  top:532px;
  width:24px;
  height:25px;
}
#u694 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u695 {
  position:absolute;
  left:224px;
  top:532px;
  width:23px;
  height:23px;
}
#u696 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u697 {
  position:absolute;
  left:282px;
  top:526px;
  width:28px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u698 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u699 {
  position:absolute;
  left:10px;
  top:21px;
  width:21px;
  height:28px;
}
#u700 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u701 {
  position:absolute;
  left:2px;
  top:526px;
  width:144px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u702 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:1px;
  top:295px;
  width:318px;
  height:204px;
  overflow:hidden;
  visibility:hidden;
}
#u703_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u703_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:203px;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:203px;
}
#u705 {
  position:absolute;
  left:2px;
  top:94px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:28px;
}
#u706 {
  position:absolute;
  left:40px;
  top:171px;
  width:239px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u707 {
  position:absolute;
  left:2px;
  top:2px;
  width:235px;
  word-wrap:break-word;
}
#u708 {
  position:absolute;
  left:1px;
  top:251px;
  width:318px;
  height:257px;
  overflow:hidden;
  visibility:hidden;
}
#u708_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:257px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u708_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:256px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u710 {
  position:absolute;
  left:2px;
  top:119px;
  width:312px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u711 {
  position:absolute;
  left:0px;
  top:44px;
  width:316px;
  height:1px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u713 {
  position:absolute;
  left:12px;
  top:16px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u715 {
  position:absolute;
  left:278px;
  top:13px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:46px;
  top:10px;
  width:222px;
  height:26px;
}
#u718 {
  position:absolute;
  left:2px;
  top:5px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719 {
  position:absolute;
  left:60px;
  top:11px;
  width:192px;
  height:23px;
}
#u719_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  position:absolute;
  left:2px;
  top:0px;
  width:317px;
  height:20px;
}
#u721 {
  position:absolute;
  left:2px;
  top:2px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:8px;
}
#u722 {
  position:absolute;
  left:6px;
  top:8px;
  width:304px;
  height:8px;
}
#u723 {
  position:absolute;
  left:2px;
  top:-4px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:0px;
  top:588px;
  width:319px;
  height:38px;
}
#u725 {
  position:absolute;
  left:2px;
  top:11px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u726 {
  position:absolute;
  left:47px;
  top:595px;
  width:29px;
  height:23px;
}
#u727 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u728 {
  position:absolute;
  left:198px;
  top:596px;
  width:23px;
  height:23px;
}
#u729 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u730 {
  position:absolute;
  left:159px;
  top:596px;
  width:1px;
  height:23px;
}
#u731 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:86px;
  top:598px;
  width:29px;
  height:20px;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u734 {
  position:absolute;
  left:231px;
  top:598px;
  width:29px;
  height:20px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u736 {
  position:absolute;
  left:380px;
  top:181px;
  width:221px;
  height:186px;
  color:#FF0000;
  text-align:left;
}
#u737 {
  position:absolute;
  left:2px;
  top:2px;
  width:217px;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:699px;
  top:225px;
  width:225px;
  height:189px;
}
#u739 {
  position:absolute;
  left:2px;
  top:86px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:727px;
  top:263px;
  width:173px;
  height:20px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u742 {
  position:absolute;
  left:741px;
  top:367px;
  width:142px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u743 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u744 {
  position:absolute;
  left:741px;
  top:325px;
  width:142px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:717px;
  top:432px;
  width:169px;
  height:20px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
