body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:803px;
}
#u3675 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:803px;
}
#u3676 {
  position:absolute;
  left:2px;
  top:394px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:19px;
}
#u3677 {
  position:absolute;
  left:43px;
  top:115px;
  width:319px;
  height:19px;
}
#u3678 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3679 {
  position:absolute;
  left:43px;
  top:134px;
  width:319px;
  height:49px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3680 {
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u3681 {
  position:absolute;
  left:54px;
  top:147px;
  width:17px;
  height:22px;
}
#u3682 {
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  position:absolute;
  left:176px;
  top:153px;
  width:57px;
  height:16px;
}
#u3684 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:234px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3685 {
  position:absolute;
  left:62px;
  top:208px;
  width:285px;
  height:234px;
}
#u3686 {
  position:absolute;
  left:2px;
  top:109px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:248px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3687 {
  position:absolute;
  left:62px;
  top:442px;
  width:285px;
  height:248px;
}
#u3688 {
  position:absolute;
  left:2px;
  top:116px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:132px;
}
#u3689 {
  position:absolute;
  left:137px;
  top:383px;
  width:139px;
  height:132px;
}
#u3690 {
  position:absolute;
  left:2px;
  top:58px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3691 {
  position:absolute;
  left:172px;
  top:525px;
  width:57px;
  height:20px;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  position:absolute;
  left:137px;
  top:544px;
  width:159px;
  height:67px;
}
#u3694 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u3695 {
  position:absolute;
  left:53px;
  top:145px;
  width:21px;
  height:28px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3697 {
  position:absolute;
  left:88px;
  top:650px;
  width:108px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3698 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u3699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u3699 {
  position:absolute;
  left:325px;
  top:153px;
  width:28px;
  height:26px;
}
#u3700 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3701 {
  position:absolute;
  left:223px;
  top:650px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3702 {
  position:absolute;
  left:2px;
  top:11px;
  width:92px;
  word-wrap:break-word;
}
#u3703 {
  position:absolute;
  left:46px;
  top:448px;
  visibility:hidden;
}
#u3703_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3703_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:237px;
}
#u3704 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:237px;
}
#u3705 {
  position:absolute;
  left:2px;
  top:110px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3706 {
  position:absolute;
  left:129px;
  top:207px;
  width:61px;
  height:23px;
}
#u3707 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3708 {
  position:absolute;
  left:143px;
  top:208px;
  width:31px;
  height:20px;
  color:#000000;
}
#u3709 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u3710 {
  position:absolute;
  left:511px;
  top:215px;
  width:221px;
  height:137px;
  color:#FF0000;
  text-align:left;
}
#u3711 {
  position:absolute;
  left:2px;
  top:2px;
  width:217px;
  word-wrap:break-word;
}
