body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:803px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:803px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:394px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:19px;
}
#u3921 {
  position:absolute;
  left:43px;
  top:115px;
  width:319px;
  height:19px;
}
#u3922 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3923 {
  position:absolute;
  left:43px;
  top:134px;
  width:319px;
  height:49px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3924 {
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u3925 {
  position:absolute;
  left:54px;
  top:147px;
  width:17px;
  height:22px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3927 {
  position:absolute;
  left:176px;
  top:153px;
  width:57px;
  height:16px;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:64px;
}
#u3929 {
  position:absolute;
  left:54px;
  top:204px;
  width:287px;
  height:64px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:24px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3931 {
  position:absolute;
  left:60px;
  top:238px;
  width:213px;
  height:16px;
}
#u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u3933 {
  position:absolute;
  left:60px;
  top:211px;
  width:150px;
  height:17px;
  font-size:12px;
  color:#AEAEAE;
}
#u3934 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3935 {
  position:absolute;
  left:274px;
  top:214px;
  width:67px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u3936 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:64px;
}
#u3937 {
  position:absolute;
  left:54px;
  top:268px;
  width:308px;
  height:64px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u3939 {
  position:absolute;
  left:60px;
  top:294px;
  width:39px;
  height:38px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3941 {
  position:absolute;
  left:109px;
  top:304px;
  width:139px;
  height:16px;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u3943 {
  position:absolute;
  left:59px;
  top:274px;
  width:135px;
  height:17px;
  font-size:12px;
  color:#AEAEAE;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3945 {
  position:absolute;
  left:274px;
  top:278px;
  width:67px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:64px;
}
#u3947 {
  position:absolute;
  left:54px;
  top:332px;
  width:287px;
  height:64px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:24px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3949 {
  position:absolute;
  left:63px;
  top:366px;
  width:220px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u3951 {
  position:absolute;
  left:57px;
  top:341px;
  width:150px;
  height:17px;
  font-size:12px;
  color:#AEAEAE;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3953 {
  position:absolute;
  left:274px;
  top:344px;
  width:67px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:64px;
}
#u3955 {
  position:absolute;
  left:54px;
  top:396px;
  width:308px;
  height:64px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3957 {
  position:absolute;
  left:274px;
  top:406px;
  width:67px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u3959 {
  position:absolute;
  left:60px;
  top:419px;
  width:39px;
  height:38px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3961 {
  position:absolute;
  left:109px;
  top:429px;
  width:139px;
  height:16px;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u3963 {
  position:absolute;
  left:59px;
  top:399px;
  width:135px;
  height:17px;
  font-size:12px;
  color:#AEAEAE;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u3965 {
  position:absolute;
  left:74px;
  top:420px;
  visibility:hidden;
}
#u3965_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3965_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3967 {
  position:absolute;
  left:2px;
  top:46px;
  width:266px;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3968 {
  position:absolute;
  left:127px;
  top:13px;
  width:29px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3970 {
  position:absolute;
  left:48px;
  top:76px;
  width:72px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3971 {
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3972 {
  position:absolute;
  left:174px;
  top:76px;
  width:72px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3973 {
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u3974 {
  position:absolute;
  left:53px;
  top:145px;
  width:21px;
  height:28px;
}
#u3975 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u3976 {
  position:absolute;
  left:460px;
  top:217px;
  width:221px;
  height:137px;
  color:#FF0000;
  text-align:left;
}
#u3977 {
  position:absolute;
  left:2px;
  top:2px;
  width:217px;
  word-wrap:break-word;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3978 {
  position:absolute;
  left:324px;
  top:153px;
  width:29px;
  height:20px;
  color:#FF0000;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3980 {
  position:absolute;
  left:45px;
  top:278px;
  visibility:hidden;
}
#u3980_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3980_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u3981 {
  position:absolute;
  left:6px;
  top:0px;
  width:12px;
  height:17px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u3983 {
  position:absolute;
  left:6px;
  top:100px;
  width:12px;
  height:17px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  position:absolute;
  left:0px;
  top:350px;
  width:315px;
  height:53px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:18px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3987 {
  position:absolute;
  left:51px;
  top:371px;
  width:29px;
  height:20px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3989 {
  position:absolute;
  left:214px;
  top:370px;
  width:29px;
  height:20px;
  color:#FF0000;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u3991 {
  position:absolute;
  left:157px;
  top:359px;
  width:1px;
  height:34px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
